@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    flex-direction: $direction;
    align-items: center;
}

@mixin button($color){
    font-family: teko;
    font-size: 1.15em;
    letter-spacing: 1px;
    border: none;
    background-color: $color;
    padding:8px 20px;
    cursor:pointer;
}
@mixin backImg(){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home_btn{@include button($primaryColor);}