@font-face {
    font-family: teko;
    src: url(../fonts/Teko-Regular.ttf);
}
@font-face {
  font-family: teko;
  font-weight: bold;
   src: url(../fonts/Teko-Bold.ttf);
}
@font-face {
  font-family: teko;
  font-weight: 200;
   src: url(../fonts/Teko-Light.ttf);
}