section.ths_ourservices{
    background-image: url('../img/ourservices/top_image.jpg');
}
.ourservices_list{
    padding:125px 0;
    .ourservices_list_justify{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        //border:1px solid aqua;
        .ourservices_list_item{
            //border: 1px solid red;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:50px;
            height: 365px;
            margin-bottom: 100px;
            .os_list_item_inner{
                //border: 2px solid rgb(247, 16, 247);
                @include backImg();
                padding: 100px 0;
                text-align: center;
                @include flexCenter(column);
                border-radius: 15px;
                h4{
                    color:$primaryColor;
                    font-size: 2em;
                    padding-bottom: 20px;
                }
                p{
                    font-size: 1.15em;
                    line-height: 140%;
                }
            }
            .oli1{background-image: url(../img/home/our_service1.jpg);}
            .oli2{background-image: url(../img/home/our_service2.jpg);}
            .oli3{background-image: url(../img/home/our_service3.jpg);}
            .oli4{background-image: url(../img/home/our_service4.jpg);}
        }
    }
}

.df_ourservices{
    //border: 2px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr; //RESPONSIVE: samo 1fr
    height: 650px;
    .double_full_inner{
        //border: 1px solid red;
        padding:170px 100px; //RESPONSIVE: smanjiti padding
        text-align: center;
        @include flexCenter(column);
        @include backImg();
        //height:325px; // RESPONSIVE: aktivirati fiksnu visinu
    }
    .double_full_inner:first-of-type{
        table{
            border:none;
            width: 100%;
            height: 200px;
            font-size: 1.2em;
            text-align: center;
            td {
                border: 1px solid rgb(59, 59, 59);
                vertical-align: middle;
                border-left: none;
                &:first-of-type{
                    border-top:none;
                }
            }
            td.td_last{
                border-bottom: none;
            }
            th{
                border: 1px solid rgb(59, 59, 59);
                vertical-align: middle;
                color:$primaryColor;
                font-size: 1.3em;
                border-right: none;
                &:first-of-type{
                    border-top:none;
                }
            }
            th.th_last{
                border-bottom: none;
            }
        }
    }
    .double_full_inner:last-of-type{
        background-image: url(../img/ourservices/prices.jpg);
    }
}

section.our_partners{
    background-color: #f5f5f5;
    color:#141414;
    padding:90px 0;
    h2 span,h4{
            color:$primaryColor;
        }
    .partners_grid{
        //border:2px solid blue;
        padding:60px 0;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:30px;
        .partner_inner{
            //border:1px solid red;
            text-align: center;
            .partner_img{
                width: 100%;
                //border:1px solid purple;
                height: 200px;
                @include backImg();
            }
            .pi1_o{
                background-image: url(../img/ourservices/tool1.jpg);
            }
            .pi2_o{
                background-image: url(../img/ourservices/tool2.jpg);
            }
            .pi3_o{
                background-image: url(../img/ourservices/tool3.jpg);
            }
            h4{
                margin:25px 0;
            }
            .social_icons{
                width: 100%;
                margin-top:20px;
                display: flex;
                justify-content: center;
                
                img{
                    width: 30px;
                    &:nth-of-type(2){
                        margin:0 15px;
                    }
                }
                
            }
        }
    }

}