section.ths_contact{
    background-image: url(../img/contact/contact_top.jpg);
}
.contact_field{
    padding:80px 0;
    .contact_info{
        min-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .contact_info_inner{
            //border:2px solid $primaryColor;
            text-align: center;
            padding:50px;
            img{
                width:45px;
            }
            p{
                font-size: 1.1em;
                line-height: 130%;
                margin:30px 0;
                &:last-of-type{
                    margin-bottom:0;
                }
            }
            h3 a{
                font-size: 3em;
                text-decoration: none;
                color:$primaryColor;
                transition: 0.15s all;
            }
            a:hover{
                color:#fff;
            }
        }
    }
    .contact_form_header{
        margin:80px 0 40px 0;
        //border:1px solid cyan;
        width: 100%;
        text-align: center;
        p{
            margin-top:15px;
            line-height: 140%;
        }
    }
    .contact_form{
        min-width: 100%;
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:10px;
            input{
                height: 35px;
                color:$primaryColor;
                padding-left:15px;
                background-color: #303030;
                border:none;
                outline: none;
            }
            input#subject{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            textarea{
                resize: none;
                padding-left:15px;
                padding-top:10px;
                grid-column-start: 1;
                grid-column-end:3;
                height: 230px;
                overflow: auto;
                font-family: Arial, Helvetica, sans-serif;
                color:$primaryColor;
                background-color: #303030;
                border:none;
                outline: none;
                font-style: italic;
            }
            input#submit{
                font-family: teko;
                font-size: 1.6em;
                grid-column-start: 1;
                grid-column-end:3;
                min-width: 160px;
                position: relative;
                left:50%;
                transform: translateX(-50%);
                padding:12px 18px;
                height: 55px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}