section.ths_barbers{
    background-image: url(../img/barbers/top.jpg);
}

section.barbers_profiles{
    //border:1px solid greenyellow;
    padding:80px 0;
    .b_profiles_grid{
        min-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:50px;
        //border:1px solid cyan;
        text-align: center;
        .b_profile{
            //border:1px solid red;
            .b_profile_img{
                min-width:100%;
                height: 280px;
                border-radius:15px; 
                @include backImg();
                box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.253);
            }
            .img_jake{
                background-image: url(../img/barbers/barber1.jpg);
                position: relative;
            }
            .img_michael{
                background-image: url(../img/barbers/barber2.jpg);
                position: relative;
            }
            .img_christine{
                background-image: url(../img/barbers/barber3.jpg);
                position: relative;
            }
            .img_marco{
                background-image: url(../img/barbers/barber4.jpg);
                position: relative;
            }
            .b_profile_img::after{
                content: '';
                position:absolute;
                border-radius: 15px;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
                width: 96%;
                height: 260px;
                border: 2px solid $primaryColor;
            }
            h4{
                margin:20px 0;
                color:$primaryColor;
            }
            p{
                padding:0 40px;
                line-height: 150%;
            }
        }
    }
    .b_profile_icons_grid{
        //border:2px solid cyan;
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:15px;
        margin-top: 80px;
        .b_profile_icon{
            //border:2px solid red;
            padding:25px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 55px;
            }
            p{
                margin:20px 0;
                font-size: 3em;
            }
        }
    }
}

.barbers_promo_vid{
    min-width: 100%;
    @include backImg();
    background-attachment: fixed;
    padding: 150px 0;
    background-image: url(../img/barbers/bottom.jpg);
    @include flexCenter(column);
    a{
        display: block;
        text-decoration: none;
        &.play_btn{
            color:#fff;
            font-size: 2.5em;
            text-align: center;
            border-radius: 50%;
            background-color: $primaryColor;
            padding:15px;
            margin:40px 0;
            transition: 0.1s all;
            &:hover{
                background-color: rgb(243, 188, 7);
            }
       }
        &.about_button{
            color:#141414;
            font-size: 1.1em;
            background-color: $primaryColor;
            padding:15px 20px;
            &:hover{
                background-color: rgb(243, 188, 7);
            }
        }
    }

}