section.ths_about{
    background-image: url('../img/aboutus/about_back.jpg');
}
section.about_second{
    padding:70px 0;
    .about_second_desc{
        //border: 1px solid red;
        width: 100%;
        padding:40px 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        p.abs_left{
            color:$primaryColor;
            font-size: 35px;
            line-height: 40px;
            padding:10px;
        }
        p.abs_right{
            font-size: 20px;
            line-height: 30px;
        }
    }
    .about_second_icons{
        min-width: 100%;
        padding:30px 40px;
        display: grid;
        .about_icon_inner{
            //border: 1px solid purple;
            @include flexCenter(row);
            font-size: 1.2em;
        }
        grid-template-columns: repeat(4,1fr);
        img{
            width: 42px;
            margin-right:20px;
        }
    }
}

section.about_three{
    background-color: #f5f5f5;
    color:#141414;
    padding:60px 0;
    .wrapper{
        display:grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        div{
            padding:20px;
            padding-top:30px;
            font-size: 20px;
            //border: 1px solid green;
            img{
                width: 100%;
                padding-top:30px;
            }
            .bar_about{
                width: 60px;
            }
            p.about_tr_desc{
                color:$primaryColor;
                font-size: 1.5em;
            }
        }
        
    }
}