section.home_top{
    min-width: 100%;
    height: 1080px;
    background-image: url(../img/home/home_background.jpg);
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0px ;
    .home_main{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        //border: 1px solid cyan;
        max-width: 700px;
        //padding-top:90px;
        @include flexCenter(column);
        /* .center_text{
            border: 1px solid red;
        } */
        h1{
            font-size: 120px;
            text-align: center;
            margin:50px 0;
           }
        .home_grid{
            min-width: 100%;
            height: 130px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            //border: 1px solid yellow;
            .home_grid_section{
                @include flexCenter(row);
                img{width: 50px;}
            }
            .home_grid_section:nth-child(1){
                border-right: 2px solid rgba(124, 124, 124, 0.616);
            }
            .home_grid_section:nth-child(2){
                border-right: 2px solid rgba(124, 124, 124, 0.616);
            }
            font-size: 1.3em;
        }
        .home_main_desc{
            min-width: 100%;
            margin:30px 0;
            padding:30px;
            font-size: 1.30em;
            text-align: center;
            //border: 1px solid green;
        }
    }
}

//HOME SECTION 2

//Posao - Trening - Automobili - Devojka

section.home_our_services{
   min-width:100%;
   padding: 70px 30px;
   //border: 2px solid greenyellow;
   h2{margin:20px 0}
   .our_services_wrap{
       min-width: 100%;
       /*Sad poslagati lepo our_service_inner i definisati h4 nakon toga*/
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-column-gap: 50px;
       .our_services_inner{
           padding-top:20px;
           //border: 1px solid red;
           text-align: center;
           p{
            font-size: 1.2em;
            font-weight: 200;
            line-height: 1.5em;
           }
           h4{
            padding:35px 0;
            }
           .img1{
               background: url(../img/home/our_service1.jpg);
               margin-top:50px;
            }
           .img2{background: url(../img/home/our_service2.jpg);}
           .img3{background: url(../img/home/our_service3.jpg);}
           .our_services_img{
               width: 100%;
               height: 325px;
               position: relative;
               border-radius: 10px;
               @include backImg();
               &::after{
                   content: 'See our barbers.';
                   position:absolute;
                   top:0;
                   right: 0;
                   bottom: 0;
                   left:0;
                   font-size: 2em;
                   font-weight: 200;
                   opacity: 0;
                   text-align: center;
                   padding-top:28%;
                   transition: all 0.1s;
               }
               &:hover{
                   &::after{
                       opacity: 1;
                   }
               }
               cursor: pointer;
           }
           button{
               margin-top:20px;
           }
       }
   }
   .our_services_prices{
    min-width: 100%;
    //border: 1px solid cyan;
    display: grid;
    padding:20px 0;
    margin-top:50px;
    height: 200px;
    grid-template-columns: repeat(4,1fr);
        .prices_inner{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .price_top{
                font-size: 5.2em;
                color:$primaryColor;
            }
            .price_desc{
                font-size: 1.4em;
            }
        }
    }
}
//HOME SECTION 3 - Full width baner

section.double_full{
    //border: 2px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 650px;
    .double_full_inner{
        //border: 1px solid red;
        padding:170px 100px;
        text-align: center;
        @include flexCenter(column);
        @include backImg();
        justify-content: space-between;
        .barber_name{
            color:rgb(99, 99, 99);
            font-size: 1.2em;
        }
        .barber_desc{
            font-size: 1.3em;
            font-weight: 200;
            line-height: 1.5em;
        }
        background-image: url(../img/home/double_full_back.png);
    }
    .double_full_inner:last-of-type{
        background-image: url(../img/home/double_full.jpg);
    }
}

//HOME SECTION 4 - Home Gallery
section.gallery{
    background-color: #e9e9e9;
    color:#141414;
    min-width: 100%;
    padding:80px 0;
    font-size: 1.2em;
    h2 span{color:$primaryColor;}
    .home_gallery{
        //border: 1px solid red;
        padding:20px;
        width: 100%;
        height: 950px;
        display: grid;
        gap: 20px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
        .gallery1,.gallery2,.gallery3{
            //border: 2px solid #212121;
            display: grid;
            gap: 20px;
            .grid_gallery_inner{
                @include backImg;
            }
        }
        .gallery3{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-template-columns: 1fr 2fr;
            .grid_gallery_inner:first-of-type{background-image: url(../img/home/gallery/gallery_3_left.jpg);}
            .grid_gallery_inner:last-of-type{background-image: url(../img/home/gallery/gallery_3_right.jpg);}
        }
        .gallery2{
            grid-template-rows: 2fr 1fr;
            .grid_gallery_inner:first-of-type{background-image: url(../img/home/gallery/gallery_2_top.jpg);}
            .grid_gallery_inner:last-of-type{background-image: url(../img/home/gallery/gallery_2_bottom.jpg);}
        }
        .gallery1{
            grid-template-rows: 1fr 1fr;
            .grid_gallery_inner:first-of-type{background-image: url(../img/home/gallery/gallery_1_top.jpg);}
            .grid_gallery_inner:last-of-type{background-image: url(../img/home/gallery/gallery_1_bottom.jpg);}
        }
    }
    .gallery_desc{
        font-size: 40px;
        padding:40px 0;
        text-align: center;
    }
    a{
        font-size: 18.04px;
    }
}

