@charset "UTF-8";
@font-face {
  font-family: teko;
  src: url(../fonts/Teko-Regular.ttf);
}

@font-face {
  font-family: teko;
  font-weight: bold;
  src: url(../fonts/Teko-Bold.ttf);
}

@font-face {
  font-family: teko;
  font-weight: 200;
  src: url(../fonts/Teko-Light.ttf);
}

.home_btn {
  font-family: teko;
  font-size: 1.15em;
  letter-spacing: 1px;
  border: none;
  background-color: #e9c664;
  padding: 8px 20px;
  cursor: pointer;
}

/*----------GENERAL PROPERTIES--------*/
body {
  background-color: #212121;
  color: #fff;
  font-family: teko, Arial, Helvetica, sans-serif;
}

body img {
  width: 100px;
}

body h1 {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}

body h2 {
  width: 100%;
  text-align: center;
  font-size: 4em;
}

body h4 {
  font-size: 1.7em;
  width: 100%;
}

body a {
  text-decoration: none;
  color: #212121;
}

.wrapper {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #212121;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  z-index: 10;
}

.preloader img {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
}

/*----------GENERAL PROPERTIES--------*/
header {
  position: relative;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img.logo {
  width: 80px;
  margin-left: 20px;
}

header nav {
  margin-right: 20px;
  font-size: 15pt;
}

header nav ul li {
  float: left;
  margin-right: 45px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

header nav ul li:hover {
  color: #e9c664;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

header nav ul li a:hover {
  color: #e9c664;
}

header nav ul li.responsive_menu {
  width: 25px;
  height: 40px;
  display: none;
}

header nav ul li.responsive_menu img {
  width: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.responsive_container {
  position: fixed;
  top: 0;
  right: -200px;
  height: 100vh;
  width: 190px;
  background-color: #121212;
  z-index: 2;
  overflow: hidden;
  padding: 20px;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.responsive_container li {
  list-style: none;
  padding: 8px 0;
  width: 100%;
  text-align: right;
}

.responsive_container li a {
  font-size: 1.6em;
  color: #ececec;
  text-decoration: none;
}

.responsive_container li.goback {
  padding-top: 50px;
  cursor: pointer;
}

.responsive_container img {
  position: absolute;
  width: 100px;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.responsive_menu_active {
  right: 0;
}

.scrool {
  background-color: #21201e;
}

@-webkit-keyframes headerDown {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0.1;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes headerDown {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0.1;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.sticky {
  -webkit-animation: headerDown 0.5s;
          animation: headerDown 0.5s;
  position: fixed;
  top: 0;
  height: 70px;
  margin-bottom: 80px;
  background-color: #141414d7;
  z-index: 2;
}

.sticky img.logo {
  width: 80px;
}

.sticky_div {
  margin-top: 130px;
}

/*SECTION HALF PROPERTIES*/
section.top_half_screen {
  height: 640px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

section.top_half_screen h2 {
  font-size: 7em;
  position: relative;
  top: 25%;
  text-shadow: 5px 5px 7px rgba(31, 31, 31, 0.637);
}

footer {
  height: 400px;
}

footer .wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/home/double_full_back.png);
}

footer .footer_top {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

footer .footer_top .footer_triple {
  text-align: center;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_top .footer_triple p {
  font-size: 18px;
  line-height: 160%;
  margin-top: 30px;
}

footer .footer_top .footer_triple img {
  width: 60%;
}

footer .footer_bottom {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
  font-size: 1.2em;
}

footer .footer_bottom span {
  color: #e9c664;
}

section.home_top {
  min-width: 100%;
  height: 1080px;
  background-image: url(../img/home/home_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0px;
}

section.home_top .home_main {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .center_text{
            border: 1px solid red;
        } */
}

section.home_top .home_main h1 {
  font-size: 120px;
  text-align: center;
  margin: 50px 0;
}

section.home_top .home_main .home_grid {
  min-width: 100%;
  height: 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.3em;
}

section.home_top .home_main .home_grid .home_grid_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.home_top .home_main .home_grid .home_grid_section img {
  width: 50px;
}

section.home_top .home_main .home_grid .home_grid_section:nth-child(1) {
  border-right: 2px solid rgba(124, 124, 124, 0.616);
}

section.home_top .home_main .home_grid .home_grid_section:nth-child(2) {
  border-right: 2px solid rgba(124, 124, 124, 0.616);
}

section.home_top .home_main .home_main_desc {
  min-width: 100%;
  margin: 30px 0;
  padding: 30px;
  font-size: 1.30em;
  text-align: center;
}

section.home_our_services {
  min-width: 100%;
  padding: 70px 30px;
}

section.home_our_services h2 {
  margin: 20px 0;
}

section.home_our_services .our_services_wrap {
  min-width: 100%;
  /*Sad poslagati lepo our_service_inner i definisati h4 nakon toga*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

section.home_our_services .our_services_wrap .our_services_inner {
  padding-top: 20px;
  text-align: center;
}

section.home_our_services .our_services_wrap .our_services_inner p {
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.5em;
}

section.home_our_services .our_services_wrap .our_services_inner h4 {
  padding: 35px 0;
}

section.home_our_services .our_services_wrap .our_services_inner .img1 {
  background: url(../img/home/our_service1.jpg);
  margin-top: 50px;
}

section.home_our_services .our_services_wrap .our_services_inner .img2 {
  background: url(../img/home/our_service2.jpg);
}

section.home_our_services .our_services_wrap .our_services_inner .img3 {
  background: url(../img/home/our_service3.jpg);
}

section.home_our_services .our_services_wrap .our_services_inner .our_services_img {
  width: 100%;
  height: 325px;
  position: relative;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

section.home_our_services .our_services_wrap .our_services_inner .our_services_img::after {
  content: 'See our barbers.';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 2em;
  font-weight: 200;
  opacity: 0;
  text-align: center;
  padding-top: 28%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

section.home_our_services .our_services_wrap .our_services_inner .our_services_img:hover::after {
  opacity: 1;
}

section.home_our_services .our_services_wrap .our_services_inner button {
  margin-top: 20px;
}

section.home_our_services .our_services_prices {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 20px 0;
  margin-top: 50px;
  height: 200px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

section.home_our_services .our_services_prices .prices_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section.home_our_services .our_services_prices .prices_inner .price_top {
  font-size: 5.2em;
  color: #e9c664;
}

section.home_our_services .our_services_prices .prices_inner .price_desc {
  font-size: 1.4em;
}

section.double_full {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 650px;
}

section.double_full .double_full_inner {
  padding: 170px 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/home/double_full_back.png);
}

section.double_full .double_full_inner .barber_name {
  color: #636363;
  font-size: 1.2em;
}

section.double_full .double_full_inner .barber_desc {
  font-size: 1.3em;
  font-weight: 200;
  line-height: 1.5em;
}

section.double_full .double_full_inner:last-of-type {
  background-image: url(../img/home/double_full.jpg);
}

section.gallery {
  background-color: #e9e9e9;
  color: #141414;
  min-width: 100%;
  padding: 80px 0;
  font-size: 1.2em;
}

section.gallery h2 span {
  color: #e9c664;
}

section.gallery .home_gallery {
  padding: 20px;
  width: 100%;
  height: 950px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

section.gallery .home_gallery .gallery1, section.gallery .home_gallery .gallery2, section.gallery .home_gallery .gallery3 {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

section.gallery .home_gallery .gallery1 .grid_gallery_inner, section.gallery .home_gallery .gallery2 .grid_gallery_inner, section.gallery .home_gallery .gallery3 .grid_gallery_inner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.gallery .home_gallery .gallery3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

section.gallery .home_gallery .gallery3 .grid_gallery_inner:first-of-type {
  background-image: url(../img/home/gallery/gallery_3_left.jpg);
}

section.gallery .home_gallery .gallery3 .grid_gallery_inner:last-of-type {
  background-image: url(../img/home/gallery/gallery_3_right.jpg);
}

section.gallery .home_gallery .gallery2 {
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

section.gallery .home_gallery .gallery2 .grid_gallery_inner:first-of-type {
  background-image: url(../img/home/gallery/gallery_2_top.jpg);
}

section.gallery .home_gallery .gallery2 .grid_gallery_inner:last-of-type {
  background-image: url(../img/home/gallery/gallery_2_bottom.jpg);
}

section.gallery .home_gallery .gallery1 {
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

section.gallery .home_gallery .gallery1 .grid_gallery_inner:first-of-type {
  background-image: url(../img/home/gallery/gallery_1_top.jpg);
}

section.gallery .home_gallery .gallery1 .grid_gallery_inner:last-of-type {
  background-image: url(../img/home/gallery/gallery_1_bottom.jpg);
}

section.gallery .gallery_desc {
  font-size: 40px;
  padding: 40px 0;
  text-align: center;
}

section.gallery a {
  font-size: 18.04px;
}

section.ths_about {
  background-image: url("../img/aboutus/about_back.jpg");
}

section.about_second {
  padding: 70px 0;
}

section.about_second .about_second_desc {
  width: 100%;
  padding: 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

section.about_second .about_second_desc p.abs_left {
  color: #e9c664;
  font-size: 35px;
  line-height: 40px;
  padding: 10px;
}

section.about_second .about_second_desc p.abs_right {
  font-size: 20px;
  line-height: 30px;
}

section.about_second .about_second_icons {
  min-width: 100%;
  padding: 30px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

section.about_second .about_second_icons .about_icon_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

section.about_second .about_second_icons img {
  width: 42px;
  margin-right: 20px;
}

section.about_three {
  background-color: #f5f5f5;
  color: #141414;
  padding: 60px 0;
}

section.about_three .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 40px;
}

section.about_three .wrapper div {
  padding: 20px;
  padding-top: 30px;
  font-size: 20px;
}

section.about_three .wrapper div img {
  width: 100%;
  padding-top: 30px;
}

section.about_three .wrapper div .bar_about {
  width: 60px;
}

section.about_three .wrapper div p.about_tr_desc {
  color: #e9c664;
  font-size: 1.5em;
}

section.ths_ourservices {
  background-image: url("../img/ourservices/top_image.jpg");
}

.ourservices_list {
  padding: 125px 0;
}

.ourservices_list .ourservices_list_justify {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ourservices_list .ourservices_list_justify .ourservices_list_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 50px;
  height: 365px;
  margin-bottom: 100px;
}

.ourservices_list .ourservices_list_justify .ourservices_list_item .os_list_item_inner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.ourservices_list .ourservices_list_justify .ourservices_list_item .os_list_item_inner h4 {
  color: #e9c664;
  font-size: 2em;
  padding-bottom: 20px;
}

.ourservices_list .ourservices_list_justify .ourservices_list_item .os_list_item_inner p {
  font-size: 1.15em;
  line-height: 140%;
}

.ourservices_list .ourservices_list_justify .ourservices_list_item .oli1 {
  background-image: url(../img/home/our_service1.jpg);
}

.ourservices_list .ourservices_list_justify .ourservices_list_item .oli2 {
  background-image: url(../img/home/our_service2.jpg);
}

.ourservices_list .ourservices_list_justify .ourservices_list_item .oli3 {
  background-image: url(../img/home/our_service3.jpg);
}

.ourservices_list .ourservices_list_justify .ourservices_list_item .oli4 {
  background-image: url(../img/home/our_service4.jpg);
}

.df_ourservices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 650px;
}

.df_ourservices .double_full_inner {
  padding: 170px 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.df_ourservices .double_full_inner:first-of-type table {
  border: none;
  width: 100%;
  height: 200px;
  font-size: 1.2em;
  text-align: center;
}

.df_ourservices .double_full_inner:first-of-type table td {
  border: 1px solid #3b3b3b;
  vertical-align: middle;
  border-left: none;
}

.df_ourservices .double_full_inner:first-of-type table td:first-of-type {
  border-top: none;
}

.df_ourservices .double_full_inner:first-of-type table td.td_last {
  border-bottom: none;
}

.df_ourservices .double_full_inner:first-of-type table th {
  border: 1px solid #3b3b3b;
  vertical-align: middle;
  color: #e9c664;
  font-size: 1.3em;
  border-right: none;
}

.df_ourservices .double_full_inner:first-of-type table th:first-of-type {
  border-top: none;
}

.df_ourservices .double_full_inner:first-of-type table th.th_last {
  border-bottom: none;
}

.df_ourservices .double_full_inner:last-of-type {
  background-image: url(../img/ourservices/prices.jpg);
}

section.our_partners {
  background-color: #f5f5f5;
  color: #141414;
  padding: 90px 0;
}

section.our_partners h2 span, section.our_partners h4 {
  color: #e9c664;
}

section.our_partners .partners_grid {
  padding: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

section.our_partners .partners_grid .partner_inner {
  text-align: center;
}

section.our_partners .partners_grid .partner_inner .partner_img {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.our_partners .partners_grid .partner_inner .pi1_o {
  background-image: url(../img/ourservices/tool1.jpg);
}

section.our_partners .partners_grid .partner_inner .pi2_o {
  background-image: url(../img/ourservices/tool2.jpg);
}

section.our_partners .partners_grid .partner_inner .pi3_o {
  background-image: url(../img/ourservices/tool3.jpg);
}

section.our_partners .partners_grid .partner_inner h4 {
  margin: 25px 0;
}

section.our_partners .partners_grid .partner_inner .social_icons {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.our_partners .partners_grid .partner_inner .social_icons img {
  width: 30px;
}

section.our_partners .partners_grid .partner_inner .social_icons img:nth-of-type(2) {
  margin: 0 15px;
}

section.ths_barbers {
  background-image: url(../img/barbers/top.jpg);
}

section.barbers_profiles {
  padding: 80px 0;
}

section.barbers_profiles .b_profiles_grid {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 50px;
  text-align: center;
}

section.barbers_profiles .b_profiles_grid .b_profile .b_profile_img {
  min-width: 100%;
  height: 280px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.253);
          box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.253);
}

section.barbers_profiles .b_profiles_grid .b_profile .img_jake {
  background-image: url(../img/barbers/barber1.jpg);
  position: relative;
}

section.barbers_profiles .b_profiles_grid .b_profile .img_michael {
  background-image: url(../img/barbers/barber2.jpg);
  position: relative;
}

section.barbers_profiles .b_profiles_grid .b_profile .img_christine {
  background-image: url(../img/barbers/barber3.jpg);
  position: relative;
}

section.barbers_profiles .b_profiles_grid .b_profile .img_marco {
  background-image: url(../img/barbers/barber4.jpg);
  position: relative;
}

section.barbers_profiles .b_profiles_grid .b_profile .b_profile_img::after {
  content: '';
  position: absolute;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 96%;
  height: 260px;
  border: 2px solid #e9c664;
}

section.barbers_profiles .b_profiles_grid .b_profile h4 {
  margin: 20px 0;
  color: #e9c664;
}

section.barbers_profiles .b_profiles_grid .b_profile p {
  padding: 0 40px;
  line-height: 150%;
}

section.barbers_profiles .b_profile_icons_grid {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 80px;
}

section.barbers_profiles .b_profile_icons_grid .b_profile_icon {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.barbers_profiles .b_profile_icons_grid .b_profile_icon img {
  width: 55px;
}

section.barbers_profiles .b_profile_icons_grid .b_profile_icon p {
  margin: 20px 0;
  font-size: 3em;
}

.barbers_promo_vid {
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 150px 0;
  background-image: url(../img/barbers/bottom.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barbers_promo_vid a {
  display: block;
  text-decoration: none;
}

.barbers_promo_vid a.play_btn {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  border-radius: 50%;
  background-color: #e9c664;
  padding: 15px;
  margin: 40px 0;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

.barbers_promo_vid a.play_btn:hover {
  background-color: #f3bc07;
}

.barbers_promo_vid a.about_button {
  color: #141414;
  font-size: 1.1em;
  background-color: #e9c664;
  padding: 15px 20px;
}

.barbers_promo_vid a.about_button:hover {
  background-color: #f3bc07;
}

section.ths_contact {
  background-image: url(../img/contact/contact_top.jpg);
}

.contact_field {
  padding: 80px 0;
}

.contact_field .contact_info {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact_field .contact_info .contact_info_inner {
  text-align: center;
  padding: 50px;
}

.contact_field .contact_info .contact_info_inner img {
  width: 45px;
}

.contact_field .contact_info .contact_info_inner p {
  font-size: 1.1em;
  line-height: 130%;
  margin: 30px 0;
}

.contact_field .contact_info .contact_info_inner p:last-of-type {
  margin-bottom: 0;
}

.contact_field .contact_info .contact_info_inner h3 a {
  font-size: 3em;
  text-decoration: none;
  color: #e9c664;
  -webkit-transition: 0.15s all;
  transition: 0.15s all;
}

.contact_field .contact_info .contact_info_inner a:hover {
  color: #fff;
}

.contact_field .contact_form_header {
  margin: 80px 0 40px 0;
  width: 100%;
  text-align: center;
}

.contact_field .contact_form_header p {
  margin-top: 15px;
  line-height: 140%;
}

.contact_field .contact_form {
  min-width: 100%;
}

.contact_field .contact_form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contact_field .contact_form form input {
  height: 35px;
  color: #e9c664;
  padding-left: 15px;
  background-color: #303030;
  border: none;
  outline: none;
}

.contact_field .contact_form form input#subject {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.contact_field .contact_form form textarea {
  resize: none;
  padding-left: 15px;
  padding-top: 10px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  height: 230px;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #e9c664;
  background-color: #303030;
  border: none;
  outline: none;
  font-style: italic;
}

.contact_field .contact_form form input#submit {
  font-family: teko;
  font-size: 1.6em;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  min-width: 160px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 12px 18px;
  height: 55px;
  text-align: center;
  cursor: pointer;
}

/*FORA JE U NAVODJENJU PRAVILA MORA SE NAVESTI SPECIFIČNIJE ILI ISTO SELEKTOVANJE ELEMENTA*/
@media only screen and (max-width: 1100px) {
  header nav ul li {
    display: none;
  }
  header nav ul li.responsive_menu {
    display: inline-block;
  }
  section.double_full .double_full_inner {
    padding: 50px;
  }
  .wrapper {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 768px) {
  section.home_top .home_main h1 {
    font-size: 90px;
  }
  section.home_our_services .our_services_wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section.home_our_services .our_services_prices .prices_inner .price_top {
    font-size: 3.7em;
  }
  section.home_our_services .our_services_prices {
    height: 150px;
  }
  section.home_our_services .our_services_prices .prices_inner .price_desc {
    font-size: 1em;
  }
  section.double_full {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    min-height: 800px;
  }
  section.double_full .double_full_inner {
    min-height: 400px;
  }
  section.gallery .gallery_desc {
    font-size: 30px;
  }
  section.top_half_screen h2 {
    font-size: 4.8em;
  }
  section.about_second .about_second_desc {
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  section.about_second .about_second_icons {
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
  }
  section.about_second .about_second_icons .about_icon_inner {
    margin: 10px 0;
  }
  section.about_second {
    padding-bottom: 0;
  }
  section.about_second .about_second_desc p.abs_right {
    padding-top: 40px;
  }
  section.about_second .about_second_desc p.abs_left {
    font-size: 25px;
    line-height: 28px;
  }
  section.about_second .about_second_icons img {
    width: 30px;
  }
  section.about_second .about_second_icons .about_icon_inner {
    font-size: 1em;
  }
  body h2 {
    font-size: 3em;
  }
  section.about_three .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section.about_three .wrapper div {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*-----OUR SERVICE PAGE----*/
  .ourservices_list .ourservices_list_justify .ourservices_list_item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    min-height: 640px;
  }
  .ourservices_list .ourservices_list_justify .ourservices_list_item .os_list_item_inner {
    padding: 0;
    height: 320px;
  }
  .ourservices_list {
    padding-bottom: 0;
  }
  .df_ourservices {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 880px;
  }
  .df_ourservices .double_full_inner {
    padding: 120px 80px;
  }
  .df_ourservices .double_full_inner:last-of-type {
    height: 440px;
  }
  section.our_partners .partners_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  /*-----CONTACT----*/
  .contact_field .contact_info .contact_info_inner h3 a {
    font-size: 2em;
  }
  .contact_field .contact_form form input#submit {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 660px) {
  section.barbers_profiles .b_profiles_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact_field .contact_info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 420px) {
  section.home_top .home_main h1 {
    font-size: 60px;
  }
  section.home_top .home_main .home_grid .home_grid_section img {
    width: 30px;
  }
  section.home_top .home_main .home_grid {
    font-size: 0.9em;
  }
  section.home_top .home_main .home_main_desc {
    font-size: 1.1em;
  }
  .home_btn {
    font-size: 1em;
  }
  section.home_our_services h2 {
    margin: 0 auto;
  }
  body h2 {
    font-size: 2.5em;
  }
  section.home_our_services .our_services_wrap .our_services_inner p {
    font-size: 1em;
  }
  section.home_our_services .our_services_prices {
    margin-top: 0;
  }
  section.gallery .home_gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section.gallery .home_gallery .gallery3 {
    -ms-grid-column: auto;
        grid-column-start: auto;
    grid-column-end: auto;
  }
  footer .footer_top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .footer_top .footer_triple {
    height: 160px;
  }
  footer .footer_top .footer_triple p {
    margin-top: 0;
  }
  footer .footer_top .footer_triple img {
    width: 40%;
  }
  /*-----ABOUT PAGE----*/
  section.top_half_screen {
    height: 440px;
  }
  /*OUR SERVICE*/
  .ourservices_list .ourservices_list_justify .ourservices_list_item {
    margin-bottom: 20px;
    gap: 0;
  }
  /*BARBERS*/
  section.barbers_profiles .b_profile_icons_grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */