@import './colors';
@import './fonts';
@import './blocks';




/*----------GENERAL PROPERTIES--------*/
body{
    background-color: #212121;
    color:$textColor;
    font-family: teko, Arial, Helvetica, sans-serif;
    img{
        width: 100px;
    }
    h1{
        text-shadow: 4px 4px 5px rgba(0,0,0,0.6);
    }
    h2{
        width: 100%;
        text-align: center;
        font-size: 4em;
    }
    h4{
        font-size: 1.7em;
        width: 100%;
    }
    a{
        text-decoration: none;
        color:#212121;
    }
}
.wrapper{
    max-width: 1100px;
    //border:2px solid yellow;
    @include flexCenter(column);
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    transition: 0.5s all ease-out;
    z-index: 10;
    img{
        position: relative;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 150px;
    }
}
/*----------GENERAL PROPERTIES--------*/




header{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img.logo{
        width: 80px;
        //height: 135px;
        margin-left:20px;
    }
    nav{
        margin-right: 20px;
        font-size: 15pt;
        ul li{
            float:left;
            margin-right: 45px;
            transition: all 0.1s;
            cursor: pointer;
            &:hover{
                color:$primaryColor;
            }
        }
        ul li a{
            color:#fff;
            text-decoration: none;
            transition: all 0.1s;
            &:hover{
                color:$primaryColor;
            }
        }

        ul li.responsive_menu{
            width: 25px;
            height: 40px;
            display: none;
        }
        ul li.responsive_menu img{
            width: 25px;
            position: relative;
            top:50%;
            transform: translateY(-50%);
        }
    }
}
.responsive_container{
    position: fixed;
    top:0;
    right: -200px;
    height: 100vh;
    width: 190px;
    background-color: #121212;
    z-index: 2;
    overflow: hidden;
    padding:20px;
    transition: 0.5s all ease-in-out;
    li{
        list-style: none;
        padding:8px 0;
        width: 100%;
        text-align: right;
        a{
            font-size: 1.6em;
            color:rgb(236, 236, 236);
            text-decoration: none;
        }
    }
    li.goback{
        padding-top:50px;
        cursor: pointer;
    }
    img{
        position:absolute;
        width: 100px;
        left:50%;
        bottom: 40px;
        transform: translateX(-50%);
    }
}
.responsive_menu_active{
    right:0
}


.scrool{
    background-color: $stickyHeaderBackground;
}
@keyframes headerDown {
    from {
        transform: translateY(-70px);
        opacity: 0.1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.sticky{
    animation:headerDown 0.5s;
    position: fixed;
    top:0;
    height: 70px;
    margin-bottom:80px;
    background-color: #141414d7;
    z-index: 2;
    img.logo{
        width: 80px;
    }
}
.sticky_div{
    margin-top:130px;
}
/*SECTION HALF PROPERTIES*/
section.top_half_screen{
    height: 640px;
    @include backImg();
    background-position: top;
    h2{
        font-size: 7em;
        position: relative;
        top:25%;
        text-shadow:5px 5px 7px rgba(31, 31, 31, 0.637) ;
    }
}




footer{
    height: 400px;
    .wrapper{
        @include backImg();
        background-image: url(../img/home/double_full_back.png);
    }
    .footer_top{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .footer_triple{
            //border: 1px solid purple;
            text-align: center;
            height: 310px;
            @include flexCenter(column);
            p{
                font-size: 18px;
                line-height: 160%;
                margin-top:30px;
            }
            img{
                width: 60%;
            }
        }
        
    }
    .footer_bottom{
        height: 90px;
        @include flexCenter(column);
        font-weight: 200;
        font-size: 1.2em;
        span{
            color:$primaryColor;
        }
    }
}



@import './pageHome';
@import './pageAboutus';
@import './pageOurservices';
@import './pageBarbers';
@import './pageContact';

/*FORA JE U NAVODJENJU PRAVILA MORA SE NAVESTI SPECIFIČNIJE ILI ISTO SELEKTOVANJE ELEMENTA*/

@media only screen and (max-width:1100px){
    header nav ul li{
        display: none;
    }
    header nav ul li.responsive_menu{
        display: inline-block;
    }
    section.double_full .double_full_inner{
        padding:50px;
    }
    .wrapper{
        padding: 0 30px;
    }
}


@media only screen and (max-width:768px){
    //-----HOME PAGE-----
    section.home_top .home_main h1{
        font-size:90px;
    }
    section.home_our_services .our_services_wrap{
        grid-template-columns: 1fr;
    }
    section.home_our_services .our_services_prices .prices_inner .price_top{
        font-size:3.7em;
    }
    section.home_our_services .our_services_prices{
        height: 150px;
    }
    section.home_our_services .our_services_prices .prices_inner .price_desc{
        font-size: 1em;
    }
    section.double_full{
        grid-template-columns: 1fr;
        min-height: 800px;
    }
    section.double_full .double_full_inner{
        min-height: 400px;
    }
    section.gallery .gallery_desc{
        font-size: 30px;
    }
    //-----ABOUT PAGE-----
    section.top_half_screen h2{
        font-size:4.8em;
    }
    section.about_second .about_second_desc{
        padding:0;
        grid-template-columns: 1fr;
        text-align: center;
    }
    section.about_second .about_second_icons{
        grid-template-columns: 2fr;
    }
    section.about_second .about_second_icons .about_icon_inner{
        margin:10px 0;
    }
    section.about_second{
        padding-bottom: 0;
    }
    section.about_second .about_second_desc p.abs_right{
        padding-top:40px;
    }
    section.about_second .about_second_desc p.abs_left{
        font-size: 25px;
        line-height: 28px;
    }
    section.about_second .about_second_icons img{
        width: 30px;
    }
    section.about_second .about_second_icons .about_icon_inner{
        font-size: 1em;
    }
    body h2{
        font-size: 3em;
    }
    section.about_three .wrapper{
        grid-template-columns: 1fr;
    }
    section.about_three .wrapper div{
        padding:0;
        @include flexCenter(column)
    }
    /*-----OUR SERVICE PAGE----*/
    .ourservices_list .ourservices_list_justify .ourservices_list_item{
        grid-template-columns: 1fr;
        min-height: 640px;
    }
    .ourservices_list .ourservices_list_justify .ourservices_list_item .os_list_item_inner{
        padding:0;
        height: 320px;
    }
    .ourservices_list{
        padding-bottom: 0;
    }
    .df_ourservices{
        grid-template-columns: 1fr;
        height: 880px;
    }
    .df_ourservices .double_full_inner{
        padding:120px 80px;
    }
    .df_ourservices .double_full_inner:last-of-type{
        height: 440px;
    }
    section.our_partners .partners_grid{
        grid-template-columns: 1fr;
    }
    /*-----CONTACT----*/
    .contact_field .contact_info .contact_info_inner h3 a{
        font-size: 2em;
    }
    .contact_field .contact_form form input#submit{
        font-size: 1.2em;
    }

}
@media only screen and (max-width:660px){
    section.barbers_profiles .b_profiles_grid{
        grid-template-columns: 1fr;
    }
    .contact_field .contact_info{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:420px){
    section.home_top .home_main h1{
        font-size: 60px;
    }
    section.home_top .home_main .home_grid .home_grid_section img{
        width: 30px;
    }
    section.home_top .home_main .home_grid{
        font-size: 0.9em;
    }
    section.home_top .home_main .home_main_desc{
        font-size: 1.1em;
    }
    .home_btn{
        font-size: 1em;
    }
    section.home_our_services h2{
        margin: 0 auto;
    }
    body h2{
        font-size: 2.5em;
    }
    section.home_our_services .our_services_wrap .our_services_inner p{
        font-size: 1em;
    }
    section.home_our_services .our_services_prices{
        margin-top:0;
    }
    section.gallery .home_gallery{
        grid-template-columns: 1fr;
    }
    section.gallery .home_gallery .gallery3{
        grid-column-start: auto;
        grid-column-end: auto;
    }
    footer .footer_top{
        grid-template-columns: 1fr;
    }
    footer .footer_top .footer_triple{
        height: 160px;
    }
    footer .footer_top .footer_triple p{
        margin-top:0;
    }
    footer .footer_top .footer_triple img{
        width: 40%;
    }
    /*-----ABOUT PAGE----*/
    section.top_half_screen{
        height:440px;
    }
    /*OUR SERVICE*/
    .ourservices_list .ourservices_list_justify .ourservices_list_item{
        margin-bottom: 20px;
        gap:0;
    }
    /*BARBERS*/
    section.barbers_profiles .b_profile_icons_grid{
        grid-template-columns: 1fr 1fr;
    }
    
}

